manifest {
        mainScript = 'main.nf'
        name = 'FA-nf'
        description = 'Pipeline for FA analysis'
        version = '2.0.0'
}

includeConfig 'conf/params.config'
includeConfig 'conf/params.download.config'

// Load base.config by default for all pipelines
includeConfig 'conf/base.config'

