// Adapt queue entries below to match your infrastructure. If unsure, simply comment them with '//'
// More details at: https://www.nextflow.io/docs/latest/config.html
// If your queue system does not have access to Internet, you will need to download container images in advance
// and replace it in the different container properties of the different processes

process{

    cpus   = { check_max( 1    * task.attempt, 'cpus'   ) }
    memory = { check_max( 6.GB * task.attempt, 'memory' ) }
    time   = { check_max( 4.h  * task.attempt, 'time'   ) }

    errorStrategy = { task.exitStatus in ((130..145) + 104) ? 'retry' : 'finish' }
    maxRetries    = 1
    maxErrors     = '-1'

    // Process-specific resource requirements
    // NOTE - Please try and re-use the labels below as much as possible.
    //        These labels are used and recognised by default in DSL2 files hosted on nf-core/modules.
    //        If possible, it would be nice to keep the same label naming convention when
    //        adding in your local modules too.
    // TODO nf-core: Customise requirements for specific processes.
    // See https://www.nextflow.io/docs/latest/config.html#config-process-selectors
    withLabel:process_single {
        cpus   = { check_max( 1                  , 'cpus'    ) }
        memory = { check_max( 6.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_low {
        cpus   = { check_max( 2     * task.attempt, 'cpus'    ) }
        memory = { check_max( 8.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 4.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_medium {
        cpus   = { check_max( 6     * task.attempt, 'cpus'    ) }
        memory = { check_max( 12.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 8.h   * task.attempt, 'time'    ) }
    }
    withLabel:process_high {
        cpus   = { check_max( 12    * task.attempt, 'cpus'    ) }
        memory = { check_max( 36.GB * task.attempt, 'memory'  ) }
        time   = { check_max( 16.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_long {
        time   = { check_max( 20.h  * task.attempt, 'time'    ) }
    }
    withLabel:process_high_memory {
        memory = { check_max( 200.GB * task.attempt, 'memory' ) }
    }
    withLabel:error_ignore {
        errorStrategy = 'ignore'
    }
    withLabel:error_retry {
        errorStrategy = 'retry'
        maxRetries    = 2
    }
    withName:CUSTOM_DUMPSOFTWAREVERSIONS {
        cache = false
    }


    withLabel: BLAST_BLASTP {
            cpus='8'
            container="ncbi/blast:2.12.0"
    }

    withLabel: DIAMOND_BLASTP {
            cpus='8'
    }

    withLabel: blastannotator {
            cpus='1'
    }

    withLabel: AGAT_CONVERTSPGXF2GXF {
            cpus='1'
    }

    // Process skipped with 'skip_sigtarp = true' in params.config
    withLabel: sigtarp {
            queue='biocore-el7,short-sl7'
            // Modify container value below with the resulting image from: https://github.com/biocorecrg/sigtarp_docker
            container="/software/bi/biocore_tools/git/singularity/sigtarp/sigtarp-5.0b.sif"
    }

    // Process skipped with 'skip_cdSearch = true' in params.config
    withLabel: cdSearch {
            queue='biocore-el7,short-sl7'
            cpus='1'
            memory='8G'
    }

    withLabel: INTERPROSCAN {
            cpus='8'
            maxRetries=3
    }

    withLabel: KOFAMSCAN {
            cpus='8'
    }

    withLabel: upload {
            time='48h'
    }
}

